@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	color: black;
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
	font-size: .9em;
	background: white;
}
a {
	color: blue;
	text-decoration: none;
}
h1 {
	font-size: 1.4em;
	font-weight: normal;
}
h2 {
	font-size: 1em;
	font-weight: normal;
}
img, input[type=image] {
  border: 0;
}
#content-block {
	min-height: 48px;
	clear: both;
	padding-left: 54px;
	margin: 6px 0 12px 0;
}
#wrapper {
	margin: auto;
	width: 650px;
}
#footer {
  margin-top: 20px;
	text-align: center;
  font-size: 0.9em;
}
#header {
	margin: 12px 0 12px 0;
  padding-left: 54px !important;
  background: url(https://www.namesync.org/namesync/logo.png) no-repeat top left;
}
form {
  float: right;
}
#gecko, #webkit, #presto, #chanx, #operanew {
  background-repeat: no-repeat;
  background-size: 19px;
  padding-left: 22px;
  display: none;
}
#chanx {
  display: block;
}
#gecko {
  background-image: url(../img/firefox.svg);
}
#webkit {
  background-image: url(../img/chrome.svg);
}
#presto, #operanew {
  background-image: url(../img/opera.svg);
}
#chanx {
  background-image: url(../img/4chanx.png);
}
p {
  margin-top: 12px;
}
