@charset "utf-8";
* {
	margin: 0;
	padding: 0;	
}
body {
	color: black;
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
	font-size: .9em;
	background: white;
}
a {
	color: blue;
	text-decoration: none;	
}
h1 {
	font-size: 1.4em;
	font-weight: normal;
}
h2 {
	font-size: 1em;
	font-weight: normal;
}
img, input[type=image] {
  border: 0;
}
.content-block {
	min-height: 48px;
	clear: both;
	padding-left: 60px;
	margin: 6px 0 12px 0;
}
#wrapper {
	margin: auto;
	width: 650px;
}
#header {
	margin: 12px 0 12px 0;
  background: url(http://www.namesync.org/namesync/logo.png) no-repeat top right;
}
#footer {
	text-align: right;
  font-size: 0.9em;
}
.requirements {
	background: url(requirementsblack.png) left top no-repeat;
}
.install {
	background: url(installblack.png) left top no-repeat;
}
.support {
	background: url(supportblack.png) left top no-repeat;
}
.info {
	background: url(infoblack.png) left top no-repeat;
}
.contact {
	background: url(contactblack.png) left top no-repeat;
}
.donate {
	background: url(donateblack.png) left top no-repeat;
}
#firefox, #chrome, #opera, #chanx {
  background-repeat: no-repeat;
  background-size: 19px;
  padding-left: 22px;
}
#firefox {
  background-image: url(firefox.svg);
}
#chrome {
  background-image: url(chrome.svg);
}
#opera {
  background-image: url(opera.svg);
}
#chanx {
  background-image: url(4chanx.png);
}
ul {
  padding-left: 20px;
}
.features ul {
  list-style: none;
  padding: 0;
}
p {
  margin-bottom: 12px;
}